@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
 @import url('https://db.onlinewebfonts.com/c/f128307ed86c2909e8f810ba9658884f?family=Landasans+Medium'); 
body {
  background-color: #0f172a;
}

.font-hype-heavy {
  font-weight: 600;
  -webkit-text-stroke: 2px white;
}