@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
 @import url('https://db.onlinewebfonts.com/c/f128307ed86c2909e8f810ba9658884f?family=Landasans+Medium'); 
body {
  background-color: #0f172a;
}

.font-hype-heavy {
  font-weight: 600;
  -webkit-text-stroke: 2px white;
}

@keyframes fade-in-up {
  from { opacity: 0; transform: translateY(20px); }
  to { opacity: 1; transform: translateY(0); }
}
@keyframes fade-in {
  from { opacity: 0; }
  to { opacity: 1; }
}
.animate-fade-in-up { animation: fade-in-up 0.8s ease-out 0.8s forwards; opacity: 0; }
.animate-fade-in { animation: fade-in 1s ease-out 1.2s forwards; opacity: 0; }